<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="display: block; color: red; margin-left: 40%;">
      Oops <%= msg %>
    </h1>
    <a
      href="/"
      style="
        display: block;
        text-decoration: none;
        color: brown;
        margin-left: 40%;
        font-size: x-large;
      "
      >Go back to upload file</a
    >
  </body>
</html>
